<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/mercadoliebre/public/images/logopgrverdadero(naranja).png">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="/mercadoliebre/public/css/styles.css">
    
    <title>PGR FUMIGACIONES</title>
</head>
</html>
        <header class="top-header">
            <div class="title">
                <div class="menu-wrapper">
                    <i class="fas fa-bars menu-hmb" aria-hidden="true"></i>
                </div>
            <div class="cont_ilustration2">
                  <img class="img_main2" src="/images/logopgrverdadero(naranja).png" alt="">
                  <div class="logo-words"><span class="logo-text">PGR FUMIGACIONES</span></div>
              </div>
                    </div>
                    <div class="info">
                        <a class="home" href="/mercadoliebre/views/home.html">
                            <p class="home-button">INICIO</p></a>
                        <a class="faqs" href="#footer">
                        <p class="faqs">CONTACTO</p></a>
                    </div> 
    </header>
          <div class="body">
      
     <main class="mainHome">
     <div class="background-home">
        <div class="banner-box"><img class="banner" src="/images/desinfeccion-plagas-profesional-valladolid.jpg" alt=""></div>
        
      </div>  

      <nav id="sideNav">
        <ul class="side-menu">
            <li><a href="/views/home.html">INICIO</a></li>
            <li><a href="#footer">CONTACTO</a></li>
            
        </ul>
    </nav>

      <div class="contenedorTitle_main">
          <div class ="contenedor_main" >
              <div class="contenedorText_main">
                  <a href="/images/hojamalbicho.pdf"><button class="more-details" type="submit" ><div class="atention_main">Click para más detalles.</div></button></a>
                  <div style="cursor: default;" class="preg_main">¿Estás buscando servicio de <span class="fumigation">fumigaciones</span> en Buenos Aires?</div>
                  <div class="service_main" style="cursor: default;">En un mundo tan grande, PGR te ofrece justo lo que necesitas.</div>
                  <a href="#cards" class="bMasInfo" id="colorBlanco">
                      Más información
                  </a>
              </div>
              <div class="cont_ilustration">
                  <img class="img_main" src="/images/logopgr.psd" alt="">
              </div>
          </div>
      </div>
      </main> 
      <section class="section_abaut" >
      <div class="contenedorCards_about" id="section">
          <div class="cardDetails_abaut" id="myBtn1" onClick={changeStyle}>
              <div>
                  <img class="img-handshake" src="/images/handshake-regular.svg" alt="">
              </div>
              <div>
                  <div class="confianza_about">Confianza</div>
                  <p class={style}></p>
              </div>
          </div>


          <div class="cardDetails_abaut" id="myBtnVelocidad" onClick={changeStyle2}>
              <div>
                  <img class="home-truck" src="/images/truck-fast-solid.svg" alt="">
              </div>
              <div>
                  <div class="confianza_about">Velocidad</div>
                  <p class={styleNormal2}></p>
              </div>
          </div>

          <div class="cardDetails_abaut" id="myBtnEficiencia" onClick={changeStyle3}>
              <div>
                  <img class="img-gear" src="/images/gear-solid.svg" alt="">
              </div>
              <div>
                  <div class="confianza_about">Eficiencia</div>
                  <p class={styleNormal3}></p>
              </div>
          </div>

          <div class="cardDetails_abaut" id="myBtnSeguridad" onClick={changeStyle4}>
              <div>
                  <img class="img-shield" src="/images/shield-halved-solid.svg" alt="">
              </div>
              <div >
                  <div class="confianza_about">Seguridad</div>
                  
              </div>
          </div>
      </div>
      <div class="data"><h2 class="service">Servicios</h2>
    <h5 class="service-description">Servicios para Particulares, Comercios, Consorcios, Empresas e Industrias.</h5></div>
  </section>
  <div class="cards-container" id="cards">
    <div class="card red"><img src="/images/fumigacion2.png" alt=""><h2 class="titulo" style="color: #ec2e41;">Fumigaciones</h2><span class="description">Con productos inofensivos en personas y mascotas, nuestro equipo dejará su casa y jardín libre de insectos en pocas horas.</span></div>
    <div class="card orange"><img  src="/images/ratamuerta1.jpg" alt=""><h2 class="titulo" style="color: rgb(255, 123, 0);">Desratización</h2><span class="description">Mediante cebos específicos y trampas adhesivas, liberamos su hogar o negocio de todo tipo de roedores.</span></div>
    <div class="card blue"><img style="width:70% ; margin:3.2rem 0 0 0;" src="/images/tanque.png" alt=""><h2 class="titulo" style="color: #47b0e9;">Limpieza de tanques</h2><span class="description">Realizamos la limpieza y desinfección, realizando el análisis bacteriológico, garantizando la seguridad y potabilidad del agua.</span></div>
    <div class="card green"><img src="/images/nogerms.jpg" alt=""><h2 class="titulo" style="color: green;">Sanitización</h2><a href="https://www.airprotect.com.ar/"><button class="cta">
        <span>Nuestros productos</span>
        <svg viewBox="0 0 13 10" height="10px" width="15px">
          <path d="M1,5 L11,5"></path>
          <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
      </button></a><span class="description">Realizamos una desinfección y posterior limpieza de todas las superficies para eliminar cualquier rastro biológico que pueda permanecer en ella.</span></div>
  </div>
<div class="footer-back">
    <div class="cont_ilustration2-footer">
            <img class="img_main3" src="/images/logopgrverdadero(naranja).png" alt="">
        </div>
    <footer id="footer">
      <div class="footer">
        
      </div>
      <div class="social-media">
        <div class="wpp aaaa"><span style="color: rgb(10, 204, 10);"><i  class="fa-brands fa-whatsapp"></i>whatsapp</span>
            <a class="contact-info" href="https://wa.me/5491127650145"><p>11 2765-0145</p></a>
        </div>
        <div class="linkedin aaaa"><span style="color: blue;"><i  class="fa-brands fa-linkedin"></i>linkedin</span>
            <a class="contact-info" href="https://www.linkedin.com/in/pgr-fumigaciones-486106254/"><p>PGR FUMIGACIONES</p></a>
        </div>
        <div class="mail aaaa"><span style="color: rgb(52, 188, 241);"><i  class="fa-regular fa-envelope"></i>mail</span>
            <p class="mail-info">fumigacionespgr@gmail.com</p>
        </div>
      </div>
      <div class="rights">
          <p>© 2022 PRG. All rights reserved.</p>
      </div>
    </footer>
    </div>
  <script>
    const $btn = document.querySelector(".menu-hmb");
    const $sideNav  = document.getElementById('sideNav');

    document.addEventListener('click', e=>{
        $sideNav.style.right = "-250px"
        if(e.target.matches('.menu-hmb')){
            if ($sideNav.style.right == "-250px"){            
                $sideNav.style.right = "0px";
        
            }
        }
    })
</script>
  </div>
